@tailwind base;
@tailwind components;
@tailwind utilities;
::-webkit-scrollbar {
    width: 0rem; /* Adjust this value to change the scrollbar width  */
  }
  
  
  ::-webkit-scrollbar-thumb {
    background: transparent; /* Make the thumb transparent */
  }
  
  ::-webkit-scrollbar-track {
    background: transparent; /* Make the track transparent */
  }
  input:focus {
    outline: #E5E7EB;
    border: #E5E7EB; /* or set the border styles you want */
    caret-color:#919191; 
    /* height: 10px; Change this to the color you want for the caret */
  }